nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 173, 233);
  margin-bottom: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 60%;
  justify-content: space-around;
  margin: 0;
}

nav ul li {
  padding: 1rem 1rem;
}

nav ul li:hover {
  background-color: black;
  color: white;
}

@media(max-width:720px) {
  nav {
    display: block;
    text-align: center;
  }

  nav ul {
    display: block;
    width: 100%;
  }
}